* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}
.no-mb {
  margin-bottom: 0;
}

ul {
  list-style-type: none;
}

footer {
  position: fixed;
  bottom: 20px;
}
footer ul {
  display: flex;
  justify-content: space-between;
  width: 100dvw;
  align-items: center;
}
footer a {
  text-decoration: none;
}

.right-footer {
  margin-right: 20px;
}

.left-footer {
  margin-left: 20px;
}

.cards-card-info-with-date {
  margin-bottom: 20px;
  margin-left: 20px;
}

.cards-card-info-without-date {
  margin-bottom: 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}

.right-of-date {
  position: absolute;
  right: 20px;
}

.middle-cards {
  align-items: center;
}
.no-underline {
  text-decoration: none;
}

li {
  text-decoration: none;
}

.cards-card-description {
  margin-left: 10px;
}
